.page-root {
  min-height: 100vh;
  .page-content {
    height: 100%;
    .page {
      display: flex;
      height: calc(100% - 20px);
      width: calc(100vw - 100px);
      margin: 20px auto;
      background-color: #fff;
      box-shadow: 0 4px 30px 0 rgba(223, 225, 230, 0.5);
    }
    .sider-right {
      width: 85%;
    }
    .md-content {
      padding: 20px;
    }
  }
}
